
<nav class="navbar navbar-default navbar-fixed-top tc bcfff"  style="margin-bottom: 0;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 10px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/" style="height: 60px!important;line-height: 50px;"><img src="assets/img/logo_b.png" alt="" class="h100-"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="height: 60px!important;">
            <ul class="nav navbar-nav ">
                 <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">About<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/about.php" class="nav_a two_level_a">About</a></li>
                        <li><a href="/en/video.php" class="nav_a two_level_a">Video</a></li>
                        <li><a href="/en/supervise.php" class="nav_a two_level_a">Supervise</a></li>
                        <li><a href="/en/secrecy.php" class="nav_a two_level_a">Protocol</a></li>
                        <li><a href="/en/law.php" class="nav_a two_level_a">Clause</a></li>
                    </ul>

                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Account<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://office.agafx.com" class="nav_a two_level_a">Management</a></li>
                        <li><a href="http://office.agafx.com/Home/Reg/index.html" class="nav_a two_level_a">Real</a></li>
                        <li><a href="http://office.agafx.com/Home/Reg/demo.html" class="nav_a two_level_a">Demo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">platform<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/mt4-pc.php" class="nav_a two_level_a">PC</a></li>
                        <li><a href="/en/mt4-mac.php" class="nav_a two_level_a">Mac</a></li>
                        <li><a href="/en/mt4-ipad.php" class="nav_a two_level_a">iPad</a></li>
                        <li><a href="/en/mt4-iphone.php" class="nav_a two_level_a">iPhone</a></li>
                        <li><a href="/en/mt4-android.php" class="nav_a two_level_a">Android</a></li>
                    </ul>
                </li>
                <!-- <li><a href="index.html#about" class="anchor nav_a ">交易平台<span class="border"></span></a></li> -->

                <li class="hidden-xs w120 br3 " id="logo_title"><a href="/en" class="anchor nav_a ">AGA<span class="border"></span></a></li>

                <li  class="dropdown">
                    <a href="javascript:void(0);"  class="dropdown-toggle" data-toggle="dropdown">Products<span class="border"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/pro-forex.php" class="nav_a two_level_a">G10</a></li>
                        <li><a href="/en/pro-exotic.php" class="nav_a two_level_a">Exotic</a></li>
                        <li><a href="/en/pro-gold.php" class="nav_a two_level_a">Gold</a></li>
                        <li><a href="/en/pro-silver.php" class="nav_a two_level_a">Silver</a></li>
                        <li><a href="/en/pro-indices.php" class="nav_a two_level_a">Indices</a></li>
                        <li><a href="/en/pro-oil.php" class="nav_a two_level_a">Oil</a></li>
                    </ul>
                </li>

                <!-- <li><a href="/en/partner.php" class="anchor nav_a">partner<span class="border"></span></a></li> -->
                <li class="dropdown" >
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">partner <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/advantage.php" class="two_level_a">advantage</a></li>
                        <li><a href="/en/partner.php" class="two_level_a">partner</a></li>
                    </ul>
                </li>

                <li class="dropdown" >
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/en" class="two_level_a">English</a></li>
                        <li><a href="/" class="two_level_a">中文</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="height: 60px;"></div>
