<footer id="footer">
    <div class="container ">

        <div class="row hidden-xs tl mt30">

            <div class="col-sm-2">
                <figure class="mt15">
                    <img src="assets/img/logo.png" alt="" class=" w80-">
                </figure>
            </div>
            <div class="col-sm-2">
                <h4>关于AGA</h4>
                <ul class="">
                    <li><a href="/about.php">公司介绍</a></li>
                    <li><a href="/video.php">相关视频</a></li>
                    <li><a href="/supervise.php">监管资质</a></li>
                    <li><a href="/secrecy.php">保密协议</a></li>
                    <li><a href="/law.php">法律条款</a></li>
                </ul>

            </div>
            <div class="col-sm-2">
                <h4>交易账户</h4>
                <ul class="">
                    <li><a href="http://office.agafx.com">账户管理中心</a></li>
                    <li><a href="http://office.agafx.com/Home/Reg/index.html">注册真实账户</a></li>
                    <li><a href="http://office.agafx.com/Home/Reg/demo.html">注册模拟账户</a></li>
                </ul>

            </div>
            <div class="col-sm-2">
                <h4>交易平台</h4>
                <ul class="">
                    <li><a href="/mt4-pc.php">PC系统MT4</a></li>
                    <li><a href="/mt4-mac.php">Mac系统MT4</a></li>
                    <li><a href="/mt4-ipad.php">iPad终端</a></li>
                    <li><a href="/mt4-iphone.php">iPhone终端</a></li>
                    <li><a href="/mt4-android.php">Android终端</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>交易产品</h4>
                <ul class="">
                    <li><a href="/pro-forex.php">外汇主流盘</a></li>
                    <li><a href="/pro-exotic.php">外汇稀有盘</a></li>
                    <li><a href="/pro-gold.php">现货黄金</a></li>
                    <li><a href="/pro-silver.php">现货白银</a></li>
                    <li><a href="/pro-indices.php">指数</a></li>
                    <li><a href="/pro-oil.php">原油</a></li>
                </ul>

            </div>

            <div class="col-sm-2">
                <h4>合作伙伴</h4>
                <ul class="">
                    <li><a href="/advantage.php">加盟优势</a></li>
                    <li><a href="/partner.php">代理加盟</a></li>
                    <li><a href="/white-labels.php">白标合作</a></li>
                </ul>

                <h4 style="margin-top: 30px;">市场动态</h4>
                <ul class="">
                    <li><a href="/calendar.php">财经日历</a></li>
                    <!-- <li><a href="/partner.php">代理加盟</a></li> -->
                </ul>
            </div>
        </div>
        <hr class="mt50 b1s999 hidden-xs">
        <h5 class="c999 lh50 fs16 mt15">风险提示</h5>
        <p class="c999 mb15 lh20">外汇交易和其他杠杆产品的交易涉及相当高的风险，因而未必适合所有投资者。其高杠杆既有利亦有弊。在未参与外汇交易前，您必须考量到您的投资目标、经验程度，以及个人所能承受的风险。您有可能面对损失部分或所有资金，而当中的损失有可能超过您的初始投资本金，因此，建议您不要冒险投资自己预算以外的数额。在安格进行交易之前，您应了解外汇交易的风险，若有疑问即可向独立的财务顾问询问专业意见。安格网站所引述的任何消息、意见、研究、数据或其它信息仅仅作为客观市场评论，并不构成投资或交易上的建议。安格亦明确表示，不会承担客户因直接或间接使用以上任何资源的信息所产生的交易损失</p>
        <div style=" visibility: hidden">
            <!-- 代码统计 -->
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263969950'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1263969950' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>

    </div>
    <a href="#" id="go-top"></a>
</footer>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?56LcdWDzXJjo6JLTBhEIW6NLlx9wJ4pw";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
