/*.w宽度  .h高度  .lh行高  
.m margin   .mt margin-top   .mr margin-right   .mb margin-bottom   .ml margin-left  
.p padding  .pt padding-top  .pr padding-right  .pb padding-bottom  .pl padding-left
.ptb    .plr   .mtb    .mlr   
.t top      .r right         .b bottom          .l left
.p-a .p-r .p-f   .tl .tc .tr   .fl .fc .fr   .ofh .ofs .ofe   .db .dib   .bn .bgn .bsn   .ff* .fs* .fw*   .br*
 */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
ol,ul{list-style: none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size: 100%,font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

/*.w长度，单位px*/
.w10{width: 10px;}
.w12{width: 12px;}
.w15{width: 15px;}
.w18{width: 18px;}
.w20{width: 20px;}
.w25{width: 25px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w150{width: 150px;}
.w200{width: 200px;}
.w250{width: 250px;}
.w300{width: 300px;}
.w350{width: 350px;}
.w400{width: 400px;}
.w500{width: 500px;}
.w600{width: 600px;}
.w700{width: 700px;}
.w800{width: 800px;}
.w900{width: 900px;}
.w1000{width: 1000px;}
.w1200{width: 1200px;}
.w1440{width: 1440px;}
.w1920{width: 1920px;}

/*.w**-,长度，单位%*/
.w20-{width: 20%;}
.w25-{width: 25%;}
.w50-{width: 50%;}
.w80-{width: 80%;}
.w100-{width: 100%;}

/*.w**v,长度，单位vw*/
.w10v{width: 10vw;}
.w20v{width: 20vw;}
.w30v{width: 30vw;}
.w40v{width: 40vw;}
.w50v{width: 50vw;}
.w60v{width: 60vw;}
.w80v{width: 80vw;}
.w90v{width: 90vw;}
.w100v{width: 100vw;}

.wauto{width: auto;}
/*min-width*/
.wmin768{min-width: 768px;}
.wmin992{min-width: 992px;}
.wmin1000{min-width: 1000px;}
.wmin1200{min-width: 1200px;}
/*max-width*/
.wmax1200{max-width: 1200px;}
.wmax1000{max-width: 1000px;}
.wmax992{max-width: 992px;}
.wmax768{max-width: 768px;}

/*.h高度，单位px*/
.h10{height: 10px;}
.h12{height: 12px;}
.h15{height: 15px;}
.h18{height: 18px;}
.h20{height: 20px;}
.h25{height: 25px;}
.h30{height: 30px;}
.h35{height: 35px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h60{height: 60px;}
.h70{height: 70px;}
.h80{height: 80px;}
.h90{height: 90px;}
.h100{height: 100px;}
.h120{height: 120px;}
.h150{height: 150px;}
.h200{height: 200px;}
.h250{height: 250px;}
.h300{height: 300px;}
.h400{height: 400px;}
.h500{height: 500px;}
.h600{height: 600px;}
.h700{height: 700px;}
.h800{height: 800px;}
.h900{height: 900px;}
.h1000{height: 1000px;}
.h1080{height: 1080px;}

/*.h**-高度，单位%  */
.h10-{height: 10%;}
.h20-{height: 20%;}
.h50-{height: 50%;}
.h100-{height: 100%;}

/*.h**v,高度，单位vh*/
.h10v{height: 10vh;}
.h20v{height: 20vh;}
.h30v{height: 30vh;}
.h40v{height: 40vh;}
.h50v{height: 50vh;}
.h60v{height: 60vh;}
.h70v{height: 70vh;}
.h80v{height: 80vh;}
.h90v{height: 90vh;}
.h100v{height: 100vh;}

.hauto{height: auto;}
/*min-height*/
.hmin100{min-height: 100px;}

/*.lh line-height*/
.lh10{line-height: 10px;}
.lh12{line-height: 12px;}
.lh15{line-height: 15px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh25{line-height: 25px;}
.lh30{line-height: 30px;}
.lh35{line-height: 35px;}
.lh38{line-height: 38px;}
.lh40{line-height: 40px;}
.lh50{line-height: 50px;}
.lh60{line-height: 60px;}
.lh70{line-height: 70px;}
.lh80{line-height: 80px;}
.lh100{line-height: 100px;}
.lh70imp{line-height: 70px!important;}
.lh100imp{line-height: 100px!important;}

.lh150-{line-height: 150%;}
.lh180-{line-height: 180%;}
.lh200-{line-height: 200%;}


/*.m margin,单位px*/
.m-20{margin:-20px;}
.m-15{margin:-15px;}
.m-10{margin:-10px;}
.m-5{margin:-5px;}
.m0{margin:0;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m30{margin:30px;}
.m40{margin:40px;}
.m50{margin:50px;}
.m60{margin:60px;}
.m80{margin:80px;}
.m100{margin:100px;}
/*.mt* margin-top*/
.mt-100{margin-top: -100px;}
.mt0{margin-top: 0;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}
/*.mr margin-right*/
.mr-20{margin-right: -20px;}
.mr-15{margin-right: -15px;}
.mr-10{margin-right: -10px;}
.mr-5{margin-right: -5px;}
.mr0{margin-right: 0;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}
.mr60{margin-right: 60px;}
.mr80{margin-right: 80px;}
.mr100{margin-right: 100px;}
/*.mb margin-bottom*/
.mb0{margin-bottom: 0;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}
/*.ml  margin-left*/
.ml-50{margin-left: -50px;}
.ml-20{margin-left: -20px;}
.ml-15{margin-left: -15px;}
.ml-10{margin-left: -10px;}
.ml-5{margin-left: -5px;}
.ml0{margin-left: 0;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.ml60{margin-left: 60px;}
.ml80{margin-left: 80px;}
.ml100{margin-left: 100px;}

/*.p padding,单位px*/
.p0{padding:0;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.p40{padding:40px;}
.p50{padding:50px;}
.p60{padding:60px;}
.p80{padding:80px;}
.p100{padding:100px;}
/*.pt* padding-top*/
.pt0{padding-top: 0;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt80{padding-top: 80px;}
.pt100{padding-top: 100px;}
.pt120{padding-top: 120px;}
/*.pr padding-right*/
.pr0{padding-right: 0;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr60{padding-right: 60px;}
.pr80{padding-right: 80px;}
.pr100{padding-right: 100px;}
/*.pb padding-bottop*/
.pb0{padding-bottom: 0;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb80{padding-bottom: 80px;}
.pb100{padding-bottom: 100px;}
.pb150{padding-bottom: 150px;}
/*.pl  padding-left*/
.pl0{padding-left: 0;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px;}
.pl60{padding-left: 60px;}
.pl80{padding-left: 80px;}
.pl100{padding-left: 100px;}

/*mp  margin  padding*/
.mp0{margin:0;padding:0;}

.mlr-15{margin-left: -15px;margin-right: -15px;}
.mlr0{margin-left: 0;margin-right: 0;}
.mlr5{margin-left: 5px;margin-right: 5px;}
.mlr10{margin-left: 10px;margin-right: 10px;}
.mlr15{margin-left: 15px;margin-right: 15px;}
.mlr20{margin-left: 20px;margin-right: 20px;}
.mlr30{margin-left: 30px;margin-right: 30px;}

.mtb0{margin-top: 0;margin-bottom: 0;}

.plr0{padding-left: 0;padding-right: 0;}
.plr5{padding-left: 5px;padding-right: 5px;}
.plr10{padding-left: 10px;padding-right: 10px;}
.plr15{padding-left: 15px;padding-right: 15px;}
.plr20{padding-left: 20px;padding-right: 20px;}
.plr30{padding-left: 30px;padding-right: 30px;}
.plr40{padding-left: 40px;padding-right: 40px;}
.plr50{padding-left: 50px;padding-right: 50px;}

.ptb0{padding-top: 0;padding-bottom: 0;}
.ptb5{padding-top: 5px;padding-bottom: 5px;}
.ptb10{padding-top: 10px;padding-bottom: 10px;}
.ptb15{padding-top: 15px;padding-bottom: 15px;}
.ptb20{padding-top: 20px;padding-bottom: 20px;}
.ptb30{padding-top: 30px;padding-bottom: 30px;}
.ptb40{padding-top: 40px;padding-bottom: 40px;}
.ptb50{padding-top: 50px;padding-bottom: 50px;}
.ptb60{padding-top: 60px;padding-bottom: 60px;}
.ptb80{padding-top: 80px;padding-bottom: 80px;}
.ptb100{padding-top: 100px;padding-bottom: 100px;}

/*.t top*/
.t-100{top: -100px;}
.t-50{top: -50px;}
.t-40{top: -40px;}
.t-30{top: -30px;}
.t-20{top: -20px;}
.t-15{top: -15px;}
.t-10{top: -10px;}
.t-8{top: -8px;}
.t-5{top: -5px;}
.t-3{top: -3px;}
.t-2{top: -2px;}
.t0{top:0;}
.t2{top:2px;}
.t3{top:3px;}
.t5{top:5px;}
.t8{top:8px;}
.t10{top:10px;}
.t15{top:15px;}
.t20{top:20px;}
.t30{top:30px;}
.t40{top:40px;}
.t50{top:50px;}
/*.r right*/
.r-50{right: -50px;}
.r-40{right: -40px;}
.r-30{right: -30px;}
.r-20{right: -20px;}
.r-15{right: -15px;}
.r-10{right: -10px;}
.r-8{right: -8px;}
.r-5{right: -5px;}
.r-3{right: -3px;}
.r-2{right: -2px;}
.r0{right:0;}
.r2{right:2px;}
.r3{right:3px;}
.r5{right:5px;}
.r8{right:8px;}
.r10{right:10px;}
.r15{right:15px;}
.r20{right:20px;}
.r30{right:30px;}
.r40{right:40px;}
.r50{right:50px;}
/*.b bottom*/
.b-50{bottom: -50px;}
.b-40{bottom: -40px;}
.b-30{bottom: -30px;}
.b-20{bottom: -20px;}
.b-15{bottom: -15px;}
.b-10{bottom: -10px;}
.b-8{bottom: -8px;}
.b-5{bottom: -5px;}
.b-3{bottom: -3px;}
.b-2{bottom: -2px;}
.b0{bottom:0;}
.b2{bottom:2px;}
.b3{bottom:3px;}
.b5{bottom:5px;}
.b8{bottom:8px;}
.b10{bottom:10px;}
.b15{bottom:15px;}
.b20{bottom:20px;}
.b30{bottom:30px;}
.b40{bottom:40px;}
.b50{bottom:50px;}
/*.l left*/
.l-50{left: -50px;}
.l-40{left: -40px;}
.l-30{left: -30px;}
.l-20{left: -20px;}
.l-15{left: -15px;}
.l-10{left: -10px;}
.l-8{left: -8px;}
.l-5{left: -5px;}
.l-3{left: -3px;}
.l-2{left: -2px;}
.l0{left:0;}
.l2{left:2px;}
.l3{left:3px;}
.l5{left:5px;}
.l8{left:8px;}
.l10{left:10px;}
.l15{left:15px;}
.l20{left:20px;}
.l30{left:30px;}
.l40{left:40px;}
.l50{left:50px;}

/*.b border*/
.b1s000{border:1px solid #000;}
.b1s333{border:1px solid #333;}
.b1s666{border:1px solid #666;}
.b1s999{border:1px solid #999;}
.b1sccc{border:1px solid #ccc;}
.b1seee{border:1px solid #eee;}
.b1sfff{border:1px solid #fff;}
/*bt  border-top*/
.bt1s000{border-top:1px solid #000;}
.bt1s333{border-top:1px solid #333;}
.bt1s666{border-top:1px solid #666;}
.bt1s999{border-top:1px solid #999;}
.bt1sccc{border-top:1px solid #ccc;}
.bt1seee{border-top:1px solid #eee;}
.bt1sfff{border-top:1px solid #fff;}
/*br  border-right*/
.br1s000{border-right:1px solid #000;}
.br1s333{border-right:1px solid #333;}
.br1s666{border-right:1px solid #666;}
.br1s999{border-right:1px solid #999;}
.br1sccc{border-right:1px solid #ccc;}
.br1seee{border-right:1px solid #eee;}
.br1sfff{border-right:1px solid #fff;}
/*bb  border-bottom*/
.bb1s000{border-bottom:1px solid #000;}
.bb1s333{border-bottom:1px solid #333;}
.bb1s666{border-bottom:1px solid #666;}
.bb1s999{border-bottom:1px solid #999;}
.bb1sccc{border-bottom:1px solid #ccc;}
.bb1seee{border-bottom:1px solid #eee;}
.bb1sfff{border-bottom:1px solid #fff;}
/*.bl  border-left*/
.bl1s000{border-left:1px solid #000;}
.bl1s333{border-left:1px solid #333;}
.bl1s666{border-left:1px solid #666;}
.bl1s999{border-left:1px solid #999;}
.bl1sccc{border-left:1px solid #ccc;}
.bl1seee{border-left:1px solid #eee;}
.bl1sfff{border-left:1px solid #fff;}

/*.br border-radius*/
.br3{border-radius: 3px;}
.br5{border-radius: 5px;}
.br10{border-radius: 10px;}
.br15{border-radius: 15px;}
.br20{border-radius: 20px;}
.br50-{border-radius: 50%;}

/*letter-spacing*/
.ls1{letter-spacing: 1px;}
.ls2{letter-spacing: 2px;}
.ls3{letter-spacing: 3px;}
.ls5{letter-spacing: 5px;}
.ls8{letter-spacing: 8px;}
.ls10{letter-spacing: 10px;}

/*.ff font-family*/
.ffht{font-family: "黑体";}
.ffst{font-family: "宋体";}
.fffs{font-family: "仿宋";}
.ffkt{font-family: "楷体";}
.ffyy{font-family: "幼圆";}
.ffhwxh{font-family: "华文细黑";}
.ffwryh{font-family: "微软雅黑";}

/*.fs font-size*/
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs23{font-size: 23px;}
.fs25{font-size: 25px;}
.fs30{font-size: 30px;}
.fs35{font-size: 35px;}
.fs40{font-size: 40px;}
.fs50{font-size: 50px;}
.fs60{font-size: 60px;}
.fs80{font-size: 80px;}
.fs100{font-size: 100px;}

/*.fw font-weight*/
.fw4{font-weight: 400;}
.fw7{font-weight: 700;}

/*.c color*/
.c000{color: #000;}
.c333{color: #333;}
.c666{color: #666;}
.c999{color: #999;}
.cccc{color: #ccc;}
.ceee{color: #eee;}
.cfff{color: #fff;}
.cfffimp{color: #fff!important;}
.cc79715{color: #c79715;}
.cc33{color: #cc3333}

/*.bc background-color*/
.bc000{background-color: #000;}
.bc333{background-color: #333;}
.bc666{background-color: #666;}
.bc999{background-color: #999;}
.bcccc{background-color: #ccc;}
.bceee{background-color: #eee;}
.bcfff{background-color: #fff;}
.bc0641bf{background-color: #0641bf;}
.bcf1f1f1{background-color: #f1f1f1}
/*其他*/
.bn{border:none;}
.bgn{background: none;}
.bsn{box-shadow: none;}
.oln{outline: none;}
.lstn{list-style-type: none;}
.tdn{text-decoration: none}

.dn{display: none;}
.db{display: block;}
.di{display: inline;}
.dib{display: inline-block;}

.ti2{text-indent: 2em;}
/*对齐*/
.mc{margin: 0 auto;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
/*float*/
.fl{float: left;}
.fr{float: right;}
.fc{clear: both;}
/*overflow*/
.ofh{overflow: hidden;}
.ofs{overflow: scroll;}
.ofe{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*position*/
.p-a{position: absolute;}
.p-r{position: relative;}
.p-f{position: fixed;}

.opa7{opacity:0.7;filter:alpha(opacity=70); /* 针对 IE8 以及更早的版本 */}

/*.hov- :hover*/
.hov-c000:hover{color: #000;}
.hov-c333:hover{color: #333;}
.hov-c666:hover{color: #666;}
.hov-c999:hover{color: #999;}
.hov-cccc:hover{color: #ccc;}
.hov-ceee:hover{color: #eee;}
.hov-cfff:hover{color: #fff;}

.hov-bc000:hover{background-color: #000;}
.hov-bc333:hover{background-color: #333;}
.hov-bc666:hover{background-color: #666;}
.hov-bc999:hover{background-color: #999;}
.hov-bcccc:hover{background-color: #ccc;}
.hov-bceee:hover{background-color: #eee;}
.hov-bcfff:hover{background-color: #fff;}

.hov-bn:hover{border:none;}
.hov-tdn:hover{text-decoration: none;}

/*动态效果*/
/*旋转360效果*/
.hov-rotate360{transition: all 1s ease-in-out;}
.hov-rotate360:hover{transform:rotate(360deg);}

.foot-hezuo{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}
.foot-hezuo li{
    float:left; 
    padding-left: 25px;
    padding-right: 25px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.foot-hezuo li:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
}
.foot-shengming li{
    float:left; 
    padding-left: 10px;
    padding-right: 10px;
}
.c8893a0{
    color: #8893a0;
}

.z-index9{z-index:9;}



/*bootstrap扩展： 页面五等分*/
/*.col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 20%;
        float: left;
}*/
@media (max-width: 768px){
    .col-xs-1-5{
        width: 20%;
        float: left;
    }
}
@media (min-width: 768px){
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px){
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 1440px) {
    .max1440-w920{width: 920px;}
    .max1440-w600{width: 600px;}
    .max1440-w450{width: 450px;}
    .max1440-w100{width: 100%;}
    .max1440-mt0{margin-top: 0;}
    .max1440-mt-20{margin-top: -20px;}
    .max1440-fs30{font-size: 30px;}
}

@media(min-width: 768px){
    .navbar-nav{
        float: none;
    }
    .navbar-nav>li{
        float:none;
        display: inline-block;
    }
    .navbar .nav >li >a:visited{
        background-color: #333;
    }
    .navbar .nav > li > a:hover {
        background-color: #fff!important;
    }
    .navbar .nav >li >a:active{
        background-color: #fff!important;
    }

    #logo_title a:hover{
        background-color: #000!important;
    }


    .navbar .nav > li .dropdown:active {
        background-color: #fff!important;
    }

    .navbar-nav>.active>a:hover{
        color:#555;
        background-color:#fff!important;
    }

    .nav .navbar-nav .navbar-right >li >a:hover {
        background-color: #fff!important;
    }
    .two_level_a:hover{
        color: #333!important;
    }


}

@media(max-width: 768px){

}

.open>a{
    background-color: #fff!important;
}
.navbar-nav>li>a{
    display: inline-block;
    height: 60px;
    line-height: 30px;
    padding:14px 25px;
}


.two_level_a{
    color: #fff!important;
    display: inline-block;
    line-height: 35px!important;
}
.dropdown-menu{
    background-color: #000!important;
}
#logo_title{position: relative;}
#logo_title a{
    position: absolute;
    top:-33px;
    left:0;
    border-radius: 5px;
    font-family: "Ubuntu, sans-serif";
    display: inline-block;
    width: 120px;
    font-size: 28px;
    font-weight: 700;
    color: #fff!important;
    background-color: #000;
}
/*

 *
 * 网站中部分模块公用的样式
 *
 */

 #footer{background-color:#353535;}
#footer h4{color: #fff; line-height: 40px;font-family: "微软雅黑";}
#footer li a{font-size: 14px;color: #fff;line-height: 32px;font-family: "微软雅黑";}

.slide{ background: url(../img/slide/01.jpg);
        background-position: center center;
        background-size: cover;}
.t50-{top:50%;}
.l50-{left:50%;}






